@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes spin-once {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin-once-reverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  .animate-spin-reverse:hover {
    animation: spin-once 300ms linear forwards, spin-once-reverse 300ms linear backwards;
  }
  

  